html, body, div, span, p, pre, a, code, em, img, small, strong, ol, ul, li, form, label, table, tr, th, td {
    margin:0;
    padding:0;
    vertical-align:baseline;
    outline:none;
    font-size:100%;
    background:transparent;
    border:none;
    text-decoration:none
}

html {
    overflow-y: scroll
}

body {
    padding: 0;
    font: 16px/16px Tahoma, Arial, sans-serif;
    color: #696969;
    background: #efefef
}

a {
    color: #DAA520;
    text-decoration: none
}

a:hover {
    color: #b00
}

img {
    vertical-align: middle;
    border: none;
}

a img {
    border: none
}

span.gray {
    color: #777
}

p {
    margin-bottom: 10px
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
}

th, td {
    padding: 4px 7px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
    background: #fff;
    white-space: nowrap
}


.path {
    padding: 4px 7px;
    border: 1px solid #E9967A;
    background-color: #fff;
    margin-bottom: 10px;
    width: 78.7%;
    margin-left: 10%;
    margin-top: 20px;
}


.filename {
    max-width: 420px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.break-word {
    word-wrap: break-word
}


